body{
    font-family: 'Roboto', sans-serif;
    background: #e5e5e5;
    width: 100vw;
}

*{
    box-sizing: border-box;
}

.negrito{
    font-weight: bold;
}

.top-box{
    height: 92px;
    width: 100vw;
    background-color: #CF2B2B;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.restaurants-name {
    font-family: 'Righteous';
    font-size: 44px;
    color: #ffffff;
}

.slogan {
    color: #ffffff;
    size: 18px;
}

.options-block{
    margin: 120px 0 120px 0;
    background-color: #e5e5e5;
    position: relative;
    width: auto;
}

.containers-message{
    font-family: 'Righteous';
    font-size: 26px;
    color: #333333;
    margin: 27px 0px 0px 20px;
}

.options-container{
    display: flex;
    width: auto;
    overflow-x: scroll;
}

.option {
    background: #ffffff;
    border-radius: 9px;
    height: 216px;
    width: 172px;
    margin: 17px 0px 0px 17px;
    padding: 18px 14px 13px 14px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0px;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
}

.option img{
    height: 87px;
    width: 144px;
    border-radius: 4px;
    margin-bottom: 8px;
    align-self: center;
}

.options-name{
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 4px;
}

.description{
    font-size: 15px;
    color: #A6a6a6;
    margin-bottom: 9px;
}

.price{
    font-size: 16px;
}

.bottom-box{
    background: #ffffff;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
}

.final-button{
    font-size: 20px;
    color: #ffffff;
    background-color: #cbcbcb;
    height: 61px;
    width: 364px;
    border-radius: 50px;
    border: 0px;
    padding: 0px 70px;
    text-align: center;
}
