body{
    font-family: 'Roboto', sans-serif;
    background: #e5e5e5;
    width: 100vw;
}

*{
    box-sizing: border-box;
}

.negrito{
    font-weight: bold;
}

.hidden{
    display: none;
}

.default{
    display: flex;
}
