.top-box{
    height: 92px;
    width: 100vw;
    background-color: #CF2B2B;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.restaurants-name {
    font-family: 'Righteous';
    font-size: 44px;
    color: #ffffff;
}

.slogan {
    color: #ffffff;
    size: 18px;
}